.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #6a4fb8; /* Color del menú */
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;
}

.sidebar ul {
    padding: 0;
}

.sidebar ul li {
    list-style: none;
    margin-bottom: 10px;
}
