{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} - Worldin</title>

    <!-- Importación de estilos y fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=NTR&family=Palanquin:wght@100;200;300;400;500;600;700&family=Work+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'images/logo_worldin_morado_sinfondo.png' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=NTR&family=Palanquin:wght@100;200;300;400;500;600;700&family=Work+Sans:wght@500&display=swap" rel="stylesheet">

    {% block header %}
    {% endblock header %}

    <style>
        .abrir-cerrar-menu{
            background-color: #6a4fb8; /* Fondo inicial */
            border: 2px solid white; /* Bordes blancos */
            color: white; /* Icono en blanco */
            transition: all 0.3s ease; /* Suavidad al pasar el cursor */ 
            position: fixed; 
            top: 50%;
            left: 60px; 
            transform: translateY(-50%); 
            z-index: 1000; 
            outline:none; 
            box-shadow:none;
            border-radius: 12px;
        }
        .abrir-cerrar-menu:hover {
            background-color: white; /* Fondo color cuando el enlace está sobrevolado */
            border-color: #6a4fb8; /* Contorno con color #6a4fb8 */
            color: #6a4fb8;
        }
        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            height: 100%;
            background-color: #6a4fb8; /* Color del menú */
            padding: 12px;
            box-shadow: 2px 0 5px rgba(0,0,0,0.5);
            transition: all 0.3s ease;
            text-align: center;
            overflow-y: auto;
        }
        
        .sidebar ul {
            padding: 0;
        }
        
        .sidebar ul li {
            font-size: 18px; /* Tamaño de letra más pequeño */
            list-style: none;
            margin-bottom: 10px;
            color: white;
            background-color: #6a4fb8;
            border-color: #6a4fb8;
            padding: 8px 0; /* Reduce el espacio interno de cada li */
        }

        .sidebar a {
            padding: 0;
            color: white;
            text-decoration: none;
        }
        
        .sidebar a:hover {
            color: #b9b9b9;
        }
        
        .sidebar .list-group-item-sidebar {
            margin: 12px 0;
        }
        
        .profile-picture-sidebar {
            border-radius: 50%;
            border: 4px solid #786dce;
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
        
        .custom-hr {
            border: none; /* Elimina el borde por defecto */
            height: 2px; /* Ajusta el grosor de la línea */
            background-color: white; /* Cambia el color de la línea a blanco */
            margin: 10px 0;
            background-color: white;
        }
        
    </style>
</head>
<body>
    <div class="container profile-container">
        <!-- Botón para abrir el menú -->
        <button id="menuToggle" class="abrir-cerrar-menu">
            <i class="bi bi-arrow-bar-right" style="font-size:3em;" id="menuIcon"></i>
        </button>

        <!-- Menú lateral -->
        <div id="sidebar" class="sidebar" style="display: none; z-index: 999;">
            <ul class="list-group-sidebar">
                <li class="list-group-item-sidebar">
                    Ciudad actual: 
                    <span id="selected-city">
                        {% if request.user.selected_city %}
                            {{ request.user.selected_city }}
                            <button id="change-city-btn" class="btn btn-secondary mt-2">Cambiar ciudad</button>
                        {% else %}
                            Ninguna
                            <button id="change-city-btn" class="btn btn-secondary mt-2">Seleccionar ciudad</button>
                        {% endif %}
                    </span><br>
                    
                
                    <div id="city-form-container" style="display: none;">
                        <form id="city-form" method="post">
                            {% csrf_token %}
                            <input type="text" class="form-control" list="ciudades" name="selected_city" placeholder="Seleccionar ciudad..." value="{{ request.user.selected_city }}" required>
                            <datalist id="ciudades">
                                <option value="Bruselas">Bélgica</option>
                                <option value="Sofia">Bulgaria</option>
                                <option value="Praga">Chequia</option>
                                <option value="Copenhague">Dinamarca</option>
                                <option value="Berlin">Alemania</option>
                                <option value="Munich">Alemania</option>
                                <option value="Tallin">Estonia</option>
                                <option value="Dublin">Irlanda</option>
                                <option value="Cork">Irlanda</option>
                                <option value="Atenas">Grecia</option>
                                <option value="Madrid">España</option>
                                <option value="Sevilla">España</option>
                                <option value="Barcelona">España</option>
                                <option value="Paris">Francia</option>
                                <option value="Lens">Francia</option>
                                <option value="Marsella">Francia</option>
                                <option value="Zagreb">Croacia</option>
                                <option value="Split">Croacia</option>
                                <option value="Roma">Italia</option>
                                <option value="Salerno">Italia</option>
                                <option value="Florencia">Italia</option>
                                <option value="Bari">Italia</option>
                                <option value="Luxemburgo">Luxemburgo</option>
                                <option value="Budapest">Hungría</option>
                                <option value="La Valeta">Malta</option>
                                <option value="Amsterdam">Países Bajos</option>
                                <option value="Roterdam">Países Bajos</option>
                                <option value="Viena">Austria</option>
                                <option value="Varsovia">Polonia</option>
                                <option value="Lisboa">Portugal</option>
                                <option value="Oporto">Portugal</option>
                                <option value="Buenos Aires">Argentina</option>
                                <option value="Canberra">Australia</option>
                                <option value="Brasilia">Brasil</option>
                                <option value="Ottawa">Canadá</option>
                                <option value="Santiago">Chile</option>
                                <option value="Pekín">China</option>
                                <option value="Washington D.C.">Estados Unidos</option>
                                <option value="Nueva Delhi">India</option>
                                <option value="Tokio">Japón</option>
                                <option value="Montevideo">Uruguay</option>
                            </datalist>
                            <button type="submit" class="btn btn-primary mt-2">Actualizar</button>
                        </form>
                    </div>
                </li>
                <hr class="custom-hr">
                {% if request.user.selected_city %}
                    <li class="list-group-item-sidebar"><a href="{% url 'market:main_market_products' selected_city=request.user.selected_city %}"><i class="bi bi-bag-fill"></i> Mercado</a></li>
                    <li class="list-group-item-sidebar"><a href="#"><i class="bi bi-calendar-check"></i> Eventos</a></li>
                    <li class="list-group-item-sidebar"><a href="{% url 'community:city_group_chat' city=request.user.selected_city %}"><i class="bi bi-people-fill"></i> Comunidad</a></li>
                    <li class="list-group-item-sidebar"><a href="#"><i class="bi bi-geo-fill"></i> Turismo</a></li>
                    <hr class="custom-hr">
                {% else %}
                    <li class="list-group-item-sidebar">Selecciona una ciudad para poder acceder a más funcionalidades</li>
                    <hr class="custom-hr">
                {% endif %}

                
                <li class="list-group-item-sidebar"><a href="{% url 'world' %}"><i class="bi bi-globe-americas"></i> Mundo</a></li>
                <li class="list-group-item-sidebar">
                    <a href="{% url 'community:all_chats' %}">
                        <i class="bi bi-chat-fill"></i> Todos mis chats
                        {% if pending_chat_requests_count > 0 %}
                                <span class="badge bg-danger ms-2">{{ pending_chat_requests_count }}</span>
                        {% endif %}
                    </a></li>

                <hr class="custom-hr">
                <li class="list-group-item-sidebar"><a href="{% url 'search_users' %}"><i class="bi bi-person-fill-add"></i> Buscar usuarios</a></li>
                
                <hr class="custom-hr">
                {% if request.user.account_visibility == 'private' %}
                    <li class="list-group-item-sidebar">
                        <a href="{% url 'follow_requests' %}">
                            Solicitudes de seguimiento
                            {% if pending_requests_count > 0 %}
                                <span class="badge bg-danger ms-2">{{ pending_requests_count }}</span>
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
                <li class="list-group-item-sidebar">
                    <a href="{% url 'my_profile' %}">
                        {% if request.user.profile_picture %}
                            <img src="{{ request.user.profile_picture.url }}" class="profile-picture-sidebar" alt="Perfil del cliente">
                        {% else %}
                            <img src="{% static 'images/default_user_icon_2.webp' %}" class="profile-picture-sidebar" alt="Perfil del cliente">
                        {% endif %}
                        Mi perfil
                        {% if complete_profile_alerts > 0 %}
                            <span class="badge rounded-pill bg-danger ms-2">
                                {{ complete_profile_alerts }}
                            </span>
                        {% endif %}
                    </a>
                </li>
                <hr class="custom-hr">
                <li class="list-group-item-sidebar">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" style="font-size:18px;"><i class="bi bi-box-arrow-right"></i> Cerrar sesión</button>
                    </form>
                </li>
            </ul>
        </div>

        <!-- Contenido principal aquí -->
        <div class="main-content">
            {% block content %}
            <!-- Aquí se insertará el contenido de las plantillas que extiendan este template -->
            {% endblock %}
        </div>
    </div>
    <script>
        document.getElementById('menuToggle').addEventListener('click', function() {
            const sidebar = document.getElementById('sidebar');
            const menuIcon = document.getElementById('menuIcon');

            if (sidebar.style.display === 'none' || sidebar.style.display === '') {
                sidebar.style.display = 'block';
                menuIcon.classList.remove('bi-arrow-bar-right');
                menuIcon.classList.add('bi-arrow-bar-left');
                this.style.left = '240px'; // Ajusta el botón a la derecha
            } else {
                sidebar.style.display = 'none';
                menuIcon.classList.remove('bi-arrow-bar-left');
                menuIcon.classList.add('bi-arrow-bar-right');
                this.style.left = '80px'; // Vuelve a la posición inicial
            }
        });
    </script>
    <script>
        // Obtener el botón y el formulario
        const changeCityBtn = document.getElementById('change-city-btn');
        const cityFormContainer = document.getElementById('city-form-container');
    
        // Función para mostrar u ocultar el formulario
        changeCityBtn.addEventListener('click', function() {
            if (cityFormContainer.style.display === 'none') {
                cityFormContainer.style.display = 'block';
                changeCityBtn.textContent = 'Cancelar';  // Cambiar el texto del botón a "Cancelar"
            } else {
                cityFormContainer.style.display = 'none';
                changeCityBtn.textContent = 'Cambiar ciudad';  // Volver al texto original
            }
        });
    </script>
    <script>
        // JavaScript para manejar el envío del formulario de manera asíncrona
        document.getElementById('city-form').addEventListener('submit', function(event) {
            event.preventDefault();
    
            const formData = new FormData(this);
            
            fetch("{% url 'update_city' %}", {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Actualiza la ciudad mostrada en la página sin recargar
                    document.getElementById('selected-city').textContent = data.new_city;
                    
                    // Cierra el menú lateral si es necesario
                    const menu = document.getElementById('sidebar'); // Suponiendo que el ID del menú lateral es 'sidebar'
                    menu.classList.remove('open'); // Cierra el menú lateral si tiene la clase 'open'

                    // Refresca la página para reflejar los cambios
                    location.reload();
                } else {
                    alert(data.message); // Muestra el mensaje de error
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
    
    {% block include_js %}
    {% endblock %}
</body>
</html>
